<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyue.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.lyue.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="userName" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, userName,phone,status
    </sql>
    <select id="Sel" resultType="com.lyue.entity.User">
        select <include refid="Base_Column_List" /> from user where id = #{id}
    </select>
    <select id="All" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
    </select>


</mapper>